.DS_Store
.idea/
*.iml
*.log

backend/target/
backend/backend.out.log
backend/backend.err.log

frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.development.local
frontend/.env.production.local

*.env
!.env.example
!frontend/.env.production
